<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN" "http://struts.apache.org/dtds/struts-2.0.dtd">

<struts>
  <constant name="struts.i18n.encoding" value="UTF-8" />
  <package name="app" namespace="/" extends="struts-default">

    <interceptors>
      <interceptor-stack name="tokenStack">
        <interceptor-ref name="basicStack" />
        <interceptor-ref name="token" />
      </interceptor-stack>
      
      <interceptor-stack name="validationStatck">
        <interceptor-ref name="validation">
          <param name="includeMethods">submit</param>
          <param name="excludeMethods">input,back,cancel,browse</param>
        </interceptor-ref>
      </interceptor-stack>
    </interceptors>


    <action name="LinkList_add" method="add" class="linkListAction">
      <result name="add" type="chain">LinkList_list</result>
      <result name="failed" type="chain">LinkList_list</result>
      <result name="invalid.token" type="chain">LinkList_list</result>

      <interceptor-ref name="tokenStack">
        <param name="includeMethods">add</param>
      </interceptor-ref>
      <interceptor-ref name="validationStatck" />
    </action>


    <action name="LinkList_*" method="{1}" class="linkListAction">
	  <result name="list">/jsp/LinkList.jsp</result>
	  <result name="update">/jsp/LinkList.jsp</result>
	  <result name="input" type="chain">LinkList_input</result>
    </action>
    
    <action name="Login_*" method="{1}" class="loginAction">
	  <result name="input">/jsp/Login.jsp</result>
      <result name="login" type="chain">LinkList_list</result>
      <result name="logout" type="redirect">LinkList_list.action</result>
	  <result name="failed" type="chain">LinkList_input</result>
    </action>
    
    <action name="AJAX_*" method="{1}" class="AJAXAction">
      <result name="none">/html/home.jsp</result>
    </action>
    
    <action name="*" class="baseAction">
      <result>/html/home.jsp</result>
    </action>


  </package>
</struts>